__pycache__
.vscode

phigros_assets
phigros_userdata.json
phigros_playdata.json

default-argvs.json

error_*.txt
ppr-jslog-nofmt.js

unpack-result
unpack-temp

ffmpeg.exe
ffprobe.exe

need-ignore-*

imgui.ini
